<h1>Dataset files' meta data</h1>


<p>

 <h2>MetaData :</h2>{% autoescape false %} 
 {% for result in results %}
 <pre>
<p>{{result}} </p>
 </pre>
 {% endfor %}
 
 
 <h2>Download Links :</h2>
 {% for result in results %}
 <form action="/" method="post">
    <button type="submit" value='{{result}}' name="url" />
</form>
<p>{{result}} </p><br>
 
 {% endfor %}{% endautoescape %}
 
 </p>
 <br>
 
 <form 